.header.bg-gradient-info {
  [class^="col-md-"] > label {
    color: white;
  }
}

.multiselect-container {
  & > li > a > label {
    padding: 0;
  }

  li {
    padding: 5px 20px;

    a {
      color: #8898aa;

      &:focus {
        outline: none;
      }
    }

    &.active {
      background-color: #5e72e4;

      a {
        color: white;
      }
    }
  }

  input {
    display: none;
  }  
}

.dashboard__tracker-activities {
  img {
    display: block;
    margin-bottom: 10px;
    min-width: 100%;
  }
}