	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/02/2019 20:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/Flaticon.woff2") format("woff2"),
       url("../fonts/flaticon/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-group:before { content: "\f100"; }
.flaticon-list:before { content: "\f101"; }
.flaticon-bill:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-check:before { content: "\f104"; }
.flaticon-screenshot:before { content: "\f105"; }
.flaticon-logout:before { content: "\f106"; }
.flaticon-logout-1:before { content: "\f107"; }
.flaticon-skill:before { content: "\f108"; }
.flaticon-group-1:before { content: "\f109"; }
.flaticon-dashboard:before { content: "\f10a"; }
.flaticon-bill-1:before { content: "\f10b"; }