.header.bg-gradient-info [class^=col-md-] > label {
  color: white;
}

.multiselect-container > li > a > label {
  padding: 0;
}

.multiselect-container li {
  padding: 5px 20px;
}

.multiselect-container li a {
  color: #8898aa;
}

.multiselect-container li a:focus {
  outline: none;
}

.multiselect-container li.active {
  background-color: #5e72e4;
}

.multiselect-container li.active a {
  color: white;
}

.multiselect-container input {
  display: none;
}

.dashboard__tracker-activities img {
  display: block;
  margin-bottom: 10px;
  min-width: 100%;
}

